/****
 *
 * helper classes
 *
****/

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.center-align {
	text-align: center;
}

.right-align {
	text-align: right;
}

.left-align {
	text-align: left;
}


// background
.bg-cover {
	background-size: cover;
}

/****
 *
 * breadcrumbs
 *
****/
#breadcrumbs {
	color: map-get($map: $base_colors, $key: breadcrumb_color);
	text-transform: uppercase;
	margin-bottom: 23px;
	font-size: 14px;

	span {
		font-size: 18px;

		&.breadcrumb_last {
			font-size: 14px;
			font-weight: 500;
			margin-left: 10px;
		}
	}


	a,
	&:visited {
		color: map-get($map: $base_colors, $key: breadcrumb_link_color);
		font-weight: 700;
		margin: 0 10px;
		border-bottom: 1px solid map-get($map: $base_colors, $key: breadcrumb_border_color);
		font-size: 14px;

		&:hover {
			border-bottom: 1px solid map-get($map: $base_colors, $key: breadcrumb_border_color_hover);
		}
	}
}

.single-post #breadcrumbs span span span span span span {
	color: map-get($map: $base_colors, $key: breadcrumb_span_color);
}

.single-post #breadcrumbs span span span span span span a {
	color: map-get($map: $base_colors, $key: breadcrumb_link_color);
}

.single-post #breadcrumbs {

	span.breadcrumb_last {
		display: none;
	}
}

/****
 *
 * buttons
 *
****/
.learn-more {
	color: map-get($map: $colors, $key: pure_black);

	@include font(itc, bold);
}

a.button,
a.button:visited,
span.button {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	padding: 8px 16px;
	text-decoration: none;
	background-color: var(--color-secondary-3);
	color: var(--color-base-white);
	transition: all 0.35s ease-in-out;
	text-align: center;
	border-radius: 0;
	line-height: 1.7;

	@include font(itc, med);
	font-size: 14px;
	border-radius: var(--radius-100);

	&:last-child {
		margin-right: 0;
	}

	// Focused state
	&:focus {
		background-color: var(--color-secondary-3);
	}

	// Hover state
	&:hover {
		background-color: var(--color-secondary-4);
	}

	// Button Disabled
	&.button--disabled {
		background-color: var(--color-primary-200);
	}

	// With right side icon
	&.have--right-icon {
		padding: 8px 42px 8px 16px;
		background-image: url(../img/imagine-icon.svg);
		background-repeat: no-repeat;
		background-position: center right 19px;
		background-size: 16px;
	}

	// With left side icon
	&.have--left-icon {
		padding: 8px 16px 8px 42px;
		background-image: url(../img/imagine-icon.svg);
		background-repeat: no-repeat;
		background-position: center left 16px;
		background-size: 14px;
	}

	// With small button
	&.small {
		padding: 6px 16px;

		&.have--right-icon {
			padding-right: 42px;
			background-size: 14px;
		}

		&.have--left-icon {
			padding: 6px 16px 6px 42px;
			background-size: 14px;
		}
	}

	// With Medium button
	&.medium {
		font-size: 16px;
		padding: 10px 20px;

		&.have--right-icon {
			padding: 8px 42px 8px 16px;
		}

		&.have--left-icon {
			padding: 8px 16px 8px 42px;
		}
	}

	// With Large button
	&.large {
		font-size: 18px;
		padding: 13px 20px;

		&.have--right-icon {
			padding: 8px 42px 8px 16px;
		}

		&.have--left-icon {
			padding: 8px 16px 8px 42px;
		}
	}
}

a.wp-block-button__link,
a.wp-block-button__link:visited {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding: 11px 30px;
	text-decoration: none;
	color: map-get($map: $base_colors, $key: theme_btn_color);
	background-color: map-get($map: $base_colors, $key: theme_btn_bgcolor);
	border: 2px solid map-get($map: $base_colors, $key: theme_btn_border_color);
	transition: all 0.35s ease-in-out;
	margin-right: 9px;

	@include font(itc, reg);

	font-size: 16px;
	border-radius: 100px;

	&:hover {
		background-color: map-get($map: $base_colors, $key: theme_btn_bgcolor_hover);
		border: 2px solid map-get($map: $base_colors, $key: theme_btn_border_color_hover);
		color: map-get($map: $base_colors, $key: theme_btn_color_hover);
	}

	&.has-background {
		border: none;

		&:hover {
			border: none;
			color: unset;
		}
	}

	&.has-text-color.has-background {
		border: none;

		&:hover {
			border: none;
		}
	}
}

/****
 *
 * WordPress buttons
 *
****/

// a.wp-block-button__link,
// a.wp-block-button__link:visited,
// .wp-block-button__link {

// 	&:hover {
// 		border: 2px solid map-get($map: $base_colors, $key: wp_btn_border_color);
// 		color: map-get($map: $base_colors, $key: wp_btn_color);
// 		background-color: map-get($map: $base_colors, $key: wp_btn_bgcolor);
// 	}
// }

.wp-block-button.is-style-outline {

	a.wp-block-button__link,
	a.wp-block-button__link:visited {
		border: 2px solid map-get($map: $base_colors, $key: wp_outline_btn_border_color);

		&:hover {
			background-color: map-get($map: $base_colors, $key: wp_outline_btn_bgcolor);
			color: map-get($map: $base_colors, $key: wp_outline_btn_color);
		}

		&.has-text-color,
		&.has-background {

			&:hover {
				background-color: unset;
				color: unset;
			}
		}

		&.has-text-color.has-background {
			border: none;

			&:hover {
				border: none;
			}
		}
	}
}

.no-visible {
	visibility: hidden;
}

/****
 *
 * 404 page
 *
****/
.not-found {
	text-align: center;
}

.error {
	text-align: center;
	margin: 20px 0;
	width: 100%;

	.menu {
		margin: 0;
	}

	ul li {
		display: inline-block;
		margin: 0 0 0 20px;
		font-weight: 700;
		padding: 0;

		&::before {
			display: none;
		}

		a {
			padding: 10px;
			border-bottom: 0;

			&:hover {
				color: map-get($map: $base_colors, $key: error_menu_color);
			}
		}

		ul {
			display: none;
		}
	}
}

.form-404 {
	margin: 50px auto 0;
	max-width: 720px;

	p {
		margin-bottom: 20px;
	}
}
