.slide-thumb img,
.burger-single,
.post-tags,
.post-content-des p,
.post-meta,
.search-button,
.single-blog-post,
.wpcf7-submit,
a,
a:visited,
button,
input[type="submit"],
.home-hero,
header {

	@include transition(all, 0.3s, ease-in-out);
	outline: 0;
}

.header {
	z-index: 9;
	width: 100%;
	position: fixed;
	top: 0;
	padding: 16px 40px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;

	&__logo {
		position: relative;
		z-index: 9;
		line-height: 0.65;
		transition: all 0.2s ease-in-out;

		a,
		a:visited {
			display: block;
		}
	}

	&__content {
		width: 880px;

		&--top {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			padding: 6px;
			box-sizing: border-box;
			background-color: var(--color-base-white);
			border-radius: 88px;
			box-shadow: 12.5715px 22.6287px 28.0763px rgba(209, 217, 230, 0.67), 12.5715px 10.0572px 14.2477px rgba(209, 217, 230, 0.34), 12.5715px 11.7334px 15.9239px rgba(209, 217, 230, 0.4), 12.5715px 14.6667px 18.8572px rgba(209, 217, 230, 0.48), -8.38099px -11.9087px 12.6413px rgba(255, 255, 255, 0.375);
			margin-bottom: 16px;
		}

		&--bottom {
			display: flex;
			flex-wrap: wrap;
			gap: 0 7px;
		}

		&--dropdown {
			width: 166px;
			color: var(--color-primary-300);
			padding: 14px 16px;
			box-sizing: border-box;
			display: inline-block;
			font-size: 14px;
			position: relative;
			background-image: url(../img/submenu-icon.svg);
			background-repeat: no-repeat;
			background-position: center right 16px;
			cursor: pointer;

			&::before {
				content: "";
				width: 1px;
				height: 26px;
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				background-color: var(--color-primary-600);
			}
		}

		&--text {
			width: calc(100% - 320px);
			font-size: 14px;

			color: var(--color-primary-300);
			box-sizing: border-box;
			cursor: pointer;
			position: relative;

			input[type="text"] {
				margin-bottom: 0;
				background-color: var(--color-base-white);
				border: 0;
				color: var(--color-primary-300);
				padding-left: 0;
				font-size: 16px;
			}

			::placeholder {
				color: var(--color-primary-200);
			}
		}
	}
}

body.logged-in.admin-bar {

	header {
		top: 32px;
	}
}

.header__logo,
.profile {
	margin-top: 8px;
}

.desktop-hide {
	display: none;
}

.profile {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 151px;
	padding: 4px 8px 4px 24px;
	border: 1px solid var(--color-primary-500);
	border-radius: 100px;
	position: relative;

	&__icon {
		width: 20px;
		height: 20px;
		cursor: pointer;

		img {
			width: 18px;
			height: 18px;
		}
	}

	&__picture {
		width: 47px;
		height: 47px;
		cursor: pointer;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 100px;
		}
	}
}

.profile-menu {
	padding: 24px;
	box-sizing: border-box;
	background-color: var(--color-primary-400);
	box-shadow: 0 20px 24px -4px rgba(45, 54, 67, 0.04), 0 8px 11px -4px rgba(45, 54, 67, 0.04);
	border-radius: 12px;
	text-align: center;
	width: 290px;
	position: absolute;
	top: 65px;
	right: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	gap: 16px 0;
	display: none;

	&__item {
		width: 80px;

		&--icon {
			margin-bottom: 12px;
		}

		&--title {

			a,
			a:visited {
				color: var(--color-primary-600);

				&:hover {
					color: var(--color-primary-500);
				}
			}
		}
	}

	&.active--menu {
		display: flex;
	}
}

.header-dropdown--box {
	padding: 16px;
	box-sizing: border-box;
	box-shadow: 0 20px 24px -4px rgba(45, 54, 67, 0.04), 0 8px 11px -4px rgba(45, 54, 67, 0.04);
	border-radius: 16px;
	background-color: var(--color-base-white);
	position: absolute;
	width: 220px;
	z-index: 99;

	@include font(ist,reg);
	top: 74px;
	left: 0;
	display: none;

	&--title {
		text-transform: uppercase;
		font-size: 14px;
		margin-bottom: 16px;
	}

	ul {
		margin: 0;

		li {
			padding-left: 36px;
			cursor: pointer;

			&.checked--item {
				background-repeat: no-repeat;
				background-position: center left 8px;
				background-image: url(../img/check-icon.svg);
				color: var(--color-secondary-3);
			}

			&:last-child {
				margin-bottom: 0;
			}

		}
	}

	&.header-dropdown--box--active {
		display: block;
	}
}


.select-dropdown {
	position: relative;

	button {
		background-color: transparent;
		color: var(--color-primary-600);
		height: 36px;
		font-size: 14px;
		border: 1px solid var(--color-primary-600);
		padding: 6px 40px 6px 12px;
		background-image: url(../img/submenu-icon.svg);
		background-repeat: no-repeat;
		background-position: center right 10px;
		background-size: 15px;

		&:hover {
			background-color: rgba(85, 106, 254, 0.1);
		}

		&.active--button {
			background-image: url(../img/cross-icon.svg);
			background-color: rgba(74, 114, 255, 0.08);
			color: var(--color-secondary-3);
			border-color: var(--color-secondary-3);
		}
	}
}

button.all--options {
	padding: 0 0 0 28px;
	background: transparent;
	color: var(--color-primary-600);
	background-image: url(../img/all-options-icon.svg);
	background-repeat: no-repeat;
	background-position: center left;
	background-size: 20px;
	height: 36px;
	position: relative;
}

.select-dropdown {

	&__ratio {
		display: flex;
		align-items: center;
	}

	&__title {
		margin-bottom: 16px;
	}
}


.select-dropdown__list {
	width: 288px;
	background-color: var(--color-primary-400);
	box-shadow: 0 20px 24px -4px rgba(45, 54, 67, 0.04), 0 8px 11px -4px rgba(45, 54, 67, 0.04);
	border-radius: 6px;
	position: absolute;
	top: 46px;
	left: 0;
	padding: 16px;
	text-align: left;
	max-height: 70vh;
	overflow-y: scroll;
	display: none;
	cursor: auto;
	z-index: 99;
	border-radius: 6px;
	margin: 0;

	&__title {
		font-size: 16px;
		color: var(--color-primary-300);
		margin-bottom: 26px;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	&__content {

		padding-bottom: 16px;
		margin-bottom: 16px;
		border-bottom: 1px solid var(--color-primary-700);

		&:last-of-type {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: 0;
		}

		&--type {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			font-size: 14px;
			height: 20px;
			color: var(--color-secondary-3);
		}

		&--title {
			font-size: 14px;
		}

		ul {

			li {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				position: relative;
			}
		}


		&--addimage {
			position: relative;
		}
	}

	&--image {
		height: 40px;
		border: 1px solid var(--color-primary-700);
		margin-right: 8px;
		border-radius: 4px;

		&.square {
			width: 40px;
		}

		&.landscape {
			width: 50px;
		}

		&.portrait {
			width: 36px;
		}

		&.portrait-large {
			width: 38px;
		}

		&.mobile-verticle {
			width: 24px;
		}


	}

	&--btn {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		position: absolute;
		top: 20px;
		right: 15px;
		line-height: 1;

		img {
			width: 14px;
			height: 14px;
		}
	}

	&::-webkit-scrollbar {
		width: 4px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--color-primary-700);
		border-radius: 10px;
	}

	&__styles {
		padding-top: 20px;

		&--style {
			height: 40px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			border-radius: 4px;
			margin-bottom: 16px;
			position: relative;

			a,
			a:visited {
				font-size: 14px;
				line-height: 2;
				color: var(--color-base-white);
				display: block;
				padding: 8px 16px;
				box-sizing: border-box;
			}

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: var(--color-base-white);
				opacity: 0.4;
				z-index: 1;
				display: block;
				transition: all 0.3s ease-in-out;
			}

			&:last-of-type {
				margin-bottom: 0;
			}

			&:hover {

				&::before {
					display: none;
				}
			}
		}
	}

	&.active {
		display: block;
	}
}

.select-dropdown__ratio.active-ratio {

	.select-dropdown__list--image {
		border: 2px solid var(--color-secondary-3);
	}
}

.select-dropdown.dropdown--active,
.all--options.dropdown--active {

	.select-dropdown {
		display: block;
	}
}


a.select-dropdown__content--link,
a.select-dropdown__content--link:visited {
	background-image: url(../img/submenu-icon.svg);
	background-repeat: no-repeat;
	background-position: center left 16px;
	background-size: 16px;
	padding: 12px 12px 12px 44px;
	box-sizing: border-box;
	background-color: var(--color-base-white);
	border: 1px solid var(--color-primary-700);
	border-radius: 4px;
	display: block;
	margin-bottom: 16px;
	color: var(--color-primary-600);

	&:hover {
		color: var(--color-primary-300);
	}
}

.uplaod--image {
	width: 500px;
	right: 0;
	left: auto;

	input {
		margin-bottom: 0;
	}

	input[type="submit"] {
		position: absolute;
		right: 0;
		top: 0;
		background-color: transparent;
		color: var(--color-secondary-3);
	}
}
