.slide-thumb img,
.burger-single,
.post-tags,
.post-content-des p,
.post-meta,
.search-button,
.single-blog-post,
.wpcf7-submit,
a,
a:visited,
button,
input[type="submit"],
.home-hero,
header {

	@include transition(all, 0.3s, ease-in-out);
	outline: 0;
}

.header {
	z-index: 9;
	width: 100%;
	position: fixed;
	top: 0;
	padding: 16px 40px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	&__logo {
		position: relative;
		z-index: 9;
		line-height: 0.65;
		transition: all 0.2s ease-in-out;

		a,
		a:visited {
			display: block;
		}
	}

	&__content {
		padding: 6px 12px;
		box-sizing: border-box;
		background-color: var(--color-base-white);
		border-radius: 88px;
		box-shadow: 12.5715px 22.6287px 28.0763px rgba(209, 217, 230, 0.67), 12.5715px 10.0572px 14.2477px rgba(209, 217, 230, 0.34), 12.5715px 11.7334px 15.9239px rgba(209, 217, 230, 0.4), 12.5715px 14.6667px 18.8572px rgba(209, 217, 230, 0.48), -8.38099px -11.9087px 12.6413px rgba(255, 255, 255, 0.375);
		width: 560px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&--link {

			a.header--link,
			a.header--link:visited {
				padding: 12px 32px 12px 26px;
				box-sizing: border-box;
				color: var(--color-primary-300);
				box-sizing: border-box;
				display: inline-block;
				font-size: 14px;

				&::before {
					content: "";
					width: 1px;
					height: 16px;
					position: absolute;
					right: 0;
					top: 0;
					bottom: 0;
					margin: auto;
					background-color: var(--color-primary-600);
				}
			}
		}

		&--dropdown {
			width: 200px;
			font-size: 14px;
			background-position: center right;
			background-image: url(../img/submenu-icon.svg);
			background-repeat: no-repeat;
			background-position: center right;
			color: var(--color-primary-300);
			box-sizing: border-box;
			padding: 10px 0;
			cursor: pointer;
			position: relative;
		}
	}
}

body.logged-in.admin-bar {

	header {
		top: 32px;
	}
}

.desktop-hide {
	display: none;
}

.profile {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 151px;
	padding: 4px 8px 4px 24px;
	border: 1px solid var(--color-primary-500);
	border-radius: 100px;
	position: relative;

	&__icon {
		width: 20px;
		height: 20px;
		cursor: pointer;

		img {
			width: 18px;
			height: 18px;
		}
	}

	&__picture {
		width: 47px;
		height: 47px;
		cursor: pointer;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 100px;
		}
	}
}

.profile-menu {
	padding: 24px;
	box-sizing: border-box;
	background-color: var(--color-primary-400);
	box-shadow: 0 20px 24px -4px rgba(45, 54, 67, 0.04), 0 8px 11px -4px rgba(45, 54, 67, 0.04);
	border-radius: 12px;
	text-align: center;
	width: 290px;
	position: absolute;
	top: 65px;
	right: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	gap: 16px 0;
	display: none;

	&__item {
		width: 80px;

		&--icon {
			margin-bottom: 12px;
		}

		&--title {

			a,
			a:visited {
				color: var(--color-primary-600);

				&:hover {
					color: var(--color-primary-500);
				}
			}
		}
	}

	&.active--menu {
		display: flex;
	}
}

.header-dropdown--box {
	padding: 16px;
	box-sizing: border-box;
	box-shadow: 0 20px 24px -4px rgba(45, 54, 67, 0.04), 0 8px 11px -4px rgba(45, 54, 67, 0.04);
	border-radius: 16px;
	background-color: var(--color-base-white);
	position: absolute;
	width: 220px;

	@include font(ist,reg);
	top: 55px;
	left: 0;
	display: none;

	&--title {
		text-transform: uppercase;
		font-size: 14px;
		margin-bottom: 16px;
	}

	ul {
		margin: 0;

		li {
			padding-left: 36px;
			cursor: pointer;

			&.checked--item {
				background-repeat: no-repeat;
				background-position: center left 8px;
				background-image: url(../img/check-icon.svg);
			}

		}
	}

	&.header-dropdown--box--active {
		display: block;
	}
}
