.slide-thumb img,
.burger-single,
.post-tags,
.post-content-des p,
.post-meta,
.search-button,
.single-blog-post,
.wpcf7-submit,
a,
a:visited,
button,
input[type="submit"],
.home-hero,
header {

	@include transition(all, 0.3s, ease-in-out);
	outline: 0;
}

.nav-container {
	display: flex;
	align-items: center;
}


.no-overflow {
	overflow: hidden;
}

.header-logo {
	position: relative;
	z-index: 9;
	line-height: 0.65;
	width: 230px;
	transition: all 0.2s ease-in-out;

	a,
	a:visited {
		display: block;
	}
}

.header-inner {
	padding: 16px 50px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include transition(all, 0.3s, ease-in-out);
}

header {
	z-index: 9;
	width: 100%;
	position: fixed;
	top: 0;
}


body.logged-in.admin-bar {

	header {
		top: 32px;
	}
}

.desktop-hide {
	display: none;
}
