/* -------------------------------------------------
>> Project Styles
---------------------------------------------------
>> Edit these styles as required
------------------------------------------------- */

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + span,
[type="checkbox"]:not(:checked) + span {
	position: relative;
	padding-left: 24px;
	line-height: 1;
	cursor: pointer;
	display: inline-block;
	color: var(--color-primary-600);
	box-sizing: border-box;
	margin: 0 20px 10px 0;
}

[type="checkbox"]:checked + label::before,
[type="checkbox"]:not(:checked) + label::before,
[type="checkbox"]:checked + span::before,
[type="checkbox"]:not(:checked) + span::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	height: 16px;
	border: 1px solid var(--color-primary-200);
	border-radius: 4px;
}

[type="checkbox"]:checked + label::after,
[type="checkbox"]:not(:checked) + label::after,
[type="checkbox"]:checked + span::after,
[type="checkbox"]:not(:checked) + span::after {
	content: "";
	width: 16px;
	height: 16px;
	background-color: var(--color-secondary-3);
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 4px;
	transition: all 0.2s ease;
	background-repeat: no-repeat;
	background-image: url(../img/checkbox-icon.svg);
	background-position: center;
	background-size: 10px;
}

[type="checkbox"]:not(:checked) + label::after,
[type="checkbox"]:not(:checked) + span::after {
	opacity: 0;
	transform: scale(0);
}

[type="checkbox"]:checked + label::after,
[type="checkbox"]:checked + span::after {
	opacity: 1;
	transform: scale(1);
}

[type="checkbox"]:hover + label::after,
[type="checkbox"]:hover + span::after {
	background-color: var(--color-secondary-3);
}


.with-rounder-checkboxes {

	[type="checkbox"]:checked + label::before,
	[type="checkbox"]:not(:checked) + label::before,
	[type="checkbox"]:checked + span::before,
	[type="checkbox"]:not(:checked) + span::before,
	[type="checkbox"]:checked + label::after,
	[type="checkbox"]:not(:checked) + label::after,
	[type="checkbox"]:checked + span::after,
	[type="checkbox"]:not(:checked) + span::after {
		border-radius: 50%;
	}
}
