/* -------------------------------------------------
>> Project Styles
---------------------------------------------------
>> Edit these styles as required
------------------------------------------------- */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + span,
[type="radio"]:not(:checked) + span {
	position: relative;
	padding-left: 24px;
	cursor: pointer;
	line-height: 20px;
	display: inline-block;
	color: map-get($map: $base_colors, $key: radio_color);
	box-sizing: border-box;
	margin: 0 20px 10px 0;
}

[type="radio"]:checked + label::before,
[type="radio"]:not(:checked) + label::before,
[type="radio"]:checked + span::before,
[type="radio"]:not(:checked) + span::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	height: 16px;
	border: 1px solid var(--color-primary-200);
	border-radius: 50%;
}

[type="radio"]:checked + label::after,
[type="radio"]:not(:checked) + label::after,
[type="radio"]:checked + span::after,
[type="radio"]:not(:checked) + span::after {
	content: "";
	width: 16px;
	height: 16px;
	background-color: var(--color-secondary-3);
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	transition: all 0.2s ease;
	background-repeat: no-repeat;
	background-image: url(../img/checkbox-icon.svg);
	background-position: center;
	background-size: 10px;

}

[type="radio"]:not(:checked) + label::after,
[type="radio"]:not(:checked) + span::after {
	opacity: 0;
	transform: scale(0);
}

[type="radio"]:checked + label::after,
[type="radio"]:checked + span::after {
	opacity: 1;
	transform: scale(1);
}
